<!DOCTYPE html>
<html dir="ltr" lang="en-US" prefix="og: https://ogp.me/ns#">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{include file=comm/head.html}
    <link rel="stylesheet" href="static/css/du.css">

    <link rel="stylesheet" id="wp-block-library-css" href="static/css/style.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="swiper-css-css" href="static/css/swiper.css" type="text/css" media="all">
    <link rel="stylesheet" id="dashicons-css" href="static/css/dashicons.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="magnific-popup-css" href="static/css/magnific-popup.css" type="text/css" media="all">
    <link rel="stylesheet" id="wpz-insta_block-frontend-style-css" href="static/css/index.css" type="text/css"
        media="all">
    <link rel="stylesheet" id="redux-extendify-styles-css" href="static/css/extendify-utilities.css" type="text/css"
        media="all">
    <link rel="stylesheet" id="contact-form-7-css" href="static/css/styles.css" type="text/css" media="all">
    <link rel="stylesheet" id="dax-bootstrap-css" href="static/css/bootstrap.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="style-css" href="static/css/style-6.5.4.css" type="text/css" media="all">
    <style id="style-inline-css" type="text/css">

    </style>
    <link rel="stylesheet" id="dax-font-awesome-css" href="static/css/font-awesome-6.5.4.css" type="text/css"
        media="all">
    <link rel="stylesheet" id="dax-owlcarousel-css" href="static/css/owl.carousel.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="recent-posts-widget-with-thumbnails-public-style-css" href="static/css/public.css"
        type="text/css" media="all">
    <link rel="stylesheet" id="js_composer_front-css" href="static/css/js_composer.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="addtoany-css" href="static/css/addtoany.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="bsf-Defaults-css" href="static/css/Defaults.css" type="text/css" media="all">
    <link rel="stylesheet" id="ultimate-vc-addons-style-min-css" href="static/css/ultimate.min.css" type="text/css"
        media="all">
    <link rel="preload" as="style" href="static/css/css-Lato400_swap_1704324105.css">
    <link rel="stylesheet" href="static/css/css-Lato400_swap_1704324105.css" media="print" onload="this.media='all'">
    <noscript>
        <link rel="stylesheet" href="static/css/css-Lato400_swap_1704324105.css">
    </noscript>
    <script type="text/javascript" src="static/js/jquery.min.js" id="jquery-core-js"></script>
    <script type="text/javascript" src="static/js/jquery-migrate.min.js" id="jquery-migrate-js"></script>
    <script type="text/javascript" src="static/js/underscore.min.js" id="underscore-js"></script>
    <script type="text/javascript" id="wp-util-js-extra">
        /* <![CDATA[ */
        var _wpUtilSettings = { "ajax": { "url": "\/wp-admin\/admin-ajax.php" } };
        /* ]]> */
    </script>
    <script type="text/javascript" src="static/js/wp-util.min.js" id="wp-util-js"></script>
    <script type="text/javascript" src="static/js/magnific-popup.js" id="magnific-popup-js"></script>
    <script type="text/javascript" src="static/js/swiper.js" id="swiper-js-js"></script>
    <script type="text/javascript" src="static/js/block.js" id="wpz-insta_block-frontend-script-js"></script>
    <script type="text/javascript" id="addtoany-core-js-before">
        /* <![CDATA[ */
        window.a2a_config = window.a2a_config || {}; a2a_config.callbacks = []; a2a_config.overlays = []; a2a_config.templates = {};
        /* ]]> */
    </script>
    <script type="text/javascript" async="" src="static/js/page.js" id="addtoany-core-js"></script>
    <script type="text/javascript" async="" src="static/js/addtoany.min.js" id="addtoany-jquery-js"></script>
    <script type="text/javascript" src="static/js/rbtools.min.js" async="" id="tp-tools-js"></script>
    <script type="text/javascript" src="static/js/rs6.min.js" async="" id="revmin-js"></script>
    <script type="text/javascript" src="static/js/core.min.js" id="jquery-ui-core-js"></script>
    <script type="text/javascript" src="static/js/ultimate.min.js" id="ultimate-vc-addons-script-js"></script>
    <script type="text/javascript" src="static/js/ultimate_bg.min.js" id="ultimate-vc-addons-row-bg-js"></script>

    <script>function setREVStartSize(e) {
            //window.requestAnimationFrame(function() {
            window.RSIW = window.RSIW === undefined ? window.innerWidth : window.RSIW;
            window.RSIH = window.RSIH === undefined ? window.innerHeight : window.RSIH;
            try {
                var pw = document.getElementById(e.c).parentNode.offsetWidth,
                    newh;
                pw = pw === 0 || isNaN(pw) || (e.l == "fullwidth" || e.layout == "fullwidth") ? window.RSIW : pw;
                e.tabw = e.tabw === undefined ? 0 : parseInt(e.tabw);
                e.thumbw = e.thumbw === undefined ? 0 : parseInt(e.thumbw);
                e.tabh = e.tabh === undefined ? 0 : parseInt(e.tabh);
                e.thumbh = e.thumbh === undefined ? 0 : parseInt(e.thumbh);
                e.tabhide = e.tabhide === undefined ? 0 : parseInt(e.tabhide);
                e.thumbhide = e.thumbhide === undefined ? 0 : parseInt(e.thumbhide);
                e.mh = e.mh === undefined || e.mh == "" || e.mh === "auto" ? 0 : parseInt(e.mh, 0);
                if (e.layout === "fullscreen" || e.l === "fullscreen")
                    newh = Math.max(e.mh, window.RSIH);
                else {
                    e.gw = Array.isArray(e.gw) ? e.gw : [e.gw];
                    for (var i in e.rl) if (e.gw[i] === undefined || e.gw[i] === 0) e.gw[i] = e.gw[i - 1];
                    e.gh = e.el === undefined || e.el === "" || (Array.isArray(e.el) && e.el.length == 0) ? e.gh : e.el;
                    e.gh = Array.isArray(e.gh) ? e.gh : [e.gh];
                    for (var i in e.rl) if (e.gh[i] === undefined || e.gh[i] === 0) e.gh[i] = e.gh[i - 1];

                    var nl = new Array(e.rl.length),
                        ix = 0,
                        sl;
                    e.tabw = e.tabhide >= pw ? 0 : e.tabw;
                    e.thumbw = e.thumbhide >= pw ? 0 : e.thumbw;
                    e.tabh = e.tabhide >= pw ? 0 : e.tabh;
                    e.thumbh = e.thumbhide >= pw ? 0 : e.thumbh;
                    for (var i in e.rl) nl[i] = e.rl[i] < window.RSIW ? 0 : e.rl[i];
                    sl = nl[0];
                    for (var i in nl) if (sl > nl[i] && nl[i] > 0) { sl = nl[i]; ix = i; }
                    var m = pw > (e.gw[ix] + e.tabw + e.thumbw) ? 1 : (pw - (e.tabw + e.thumbw)) / (e.gw[ix]);
                    newh = (e.gh[ix] * m) + (e.tabh + e.thumbh);
                }
                var el = document.getElementById(e.c);
                if (el !== null && el) el.style.height = newh + "px";
                el = document.getElementById(e.c + "_wrapper");
                if (el !== null && el) {
                    el.style.height = newh + "px";
                    el.style.display = "block";
                }
            } catch (e) {
                console.log("Failure at Presize of Slider:" + e)
            }
            //});
        };</script>

    <style type="text/css" data-type="vc_shortcodes-custom-css">

    </style><noscript>
        <style>
            .wpb_animate_when_almost_visible {
                opacity: 1;
            }
        </style>
    </noscript>


</head>

<body class="page-template-default page page-id-22 wpb-js-composer js-comp-ver-7.3 vc_responsive">
{include file=comm/nav.html}
    <div id="wrap">
      {include file=comm/header.html}
        <div class="container">
            <div class="page-full" style="padding-top: 0;">
                <div class="wpb-content-wrapper">
                    <div class="vc_row wpb_row vc_row-fluid vc_custom_1488004982606">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner vc_custom_1488164130299">
                                <div class="wpb_wrapper">
                                    <p class="rs-p-wp-fix"></p>
                                    <rs-module-wrap id="rev_slider_5_1_wrapper" data-source="gallery"
                                        style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
                                        <rs-module id="rev_slider_5_1" style="" data-version="6.6.20">
                                            <rs-slides style="overflow: hidden; position: absolute;">
                                                <rs-slide style="position: absolute;" data-key="rs-6" data-title="Slide"
                                                    data-anim="adpr:false;">
                                                    <img decoding="async" src="static/picture/dummy.png" alt=""
                                                        title="Logistic Services"
                                                        class="rev-slidebg tp-rs-img rs-lazyload"
                                                        data-lazyload="{sort:pic}"
                                                        data-parallax="off" data-no-retina="">
                                                   
                                                </rs-slide>
                                            </rs-slides>
                                        </rs-module>
                                        <script data-cfasync="false" src="static/js/email-decode.min.js"></script>
                                        <script>
                                            setREVStartSize({ c: 'rev_slider_5_1', rl: [1240, 1024, 778, 480], el: [], gw: [1240], gh: [600], type: 'hero', justify: '', layout: 'fullwidth', mh: "0" }); if (window.RS_MODULES !== undefined && window.RS_MODULES.modules !== undefined && window.RS_MODULES.modules["revslider51"] !== undefined) { window.RS_MODULES.modules["revslider51"].once = false; window.revapi5 = undefined; if (window.RS_MODULES.checkMinimal !== undefined) window.RS_MODULES.checkMinimal() }
                                        </script>
                                    </rs-module-wrap>

                                </div>
                            </div>
                        </div>
                    </div>

                    <br><br>
                    <div class="vc_row wpb_row vc_row-fluid vc_custom_1564544586737">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div id="ultimate-heading-743266626ec3c5803"
                                        class="uvc-heading ult-adjust-bottom-margin ultimate-heading-743266626ec3c5803 uvc-1238 "
                                        data-hspacer="line_only" data-halign="center" style="text-align:center">
                                        <div class="uvc-main-heading ult-responsive"
                                            data-ultimate-target=".uvc-heading.ultimate-heading-743266626ec3c5803 h2"
                                            data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:28px;&quot;,&quot;line-height&quot;:&quot;&quot;}">
                                            <h2 style="font-weight:bold;margin-top:30px;margin-bottom:30px;">{sort:name} </h2>
                                        </div>
                                        <div class="uvc-heading-spacer line_only" style="topheight:3px;"><span
                                                class="uvc-headings-line"
                                                style="border-style: solid; border-bottom-width: 3px; border-color: rgb(4, 170, 244); width: 35px; margin: 0px auto;"></span>
                                        </div>
                                     
                                    </div>
                                    <div class="vc_row wpb_row vc_inner vc_row-fluid" style="min-height: 100px;">
                                        {pboot:list num=100}
                                        <div class="wpb_column vc_column_container vc_col-sm-4">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="aio-icon-component    style_1">
                                                        <div id="Info-box-wrap-6402" class="aio-icon-box top-icon"
                                                            style="">
                                                            <div class="aio-icon-top">
                                                                <div class="ult-just-icon-wrapper  ">
                                                                    <div class="align-icon" style="text-align:center;">
                                                                        <div class="aio-icon-img "
                                                                            style="font-size:360px;display:inline-block;">
                                                                            <img decoding="async" class="img-icon"
                                                                                alt="null"
                                                                                src="[list:ico]">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="aio-icon-header">
                                                                <h3 class="aio-icon-title ult-responsive"
                                                                    data-ultimate-target="#Info-box-wrap-6402 .aio-icon-title"
                                                                    data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:20px;&quot;,&quot;line-height&quot;:&quot;&quot;}"
                                                                    style="font-weight:bold;">[list:title]</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {/pboot:list}
                                      
                                  
                                    </div>
                            

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="comments" class="comments-area">
                </div>
            </div>
        </div>
  {include file=comm/footer.html}
    </div>
    <script>
        window.RS_MODULES = window.RS_MODULES || {};
        window.RS_MODULES.modules = window.RS_MODULES.modules || {};
        window.RS_MODULES.waiting = window.RS_MODULES.waiting || [];
        window.RS_MODULES.defered = false;
        window.RS_MODULES.moduleWaiting = window.RS_MODULES.moduleWaiting || {};
        window.RS_MODULES.type = 'compiled';
    </script>
    <link href="static/css/css-OpenSans800_swap.css" rel="stylesheet" property="stylesheet" media="all" type="text/css">
    <script>
        if (typeof revslider_showDoubleJqueryError === "undefined") { function revslider_showDoubleJqueryError(sliderID) { console.log("You have some jquery.js library include that comes after the Slider Revolution files js inclusion."); console.log("To fix this, you can:"); console.log("1. Set 'Module General Options' -> 'Advanced' -> 'jQuery & OutPut Filters' -> 'Put JS to Body' to on"); console.log("2. Find the double jQuery.js inclusion and remove it"); return "Double Included jQuery Library"; } }
    </script>
    <link rel="stylesheet" id="rs-plugin-settings-css" href="static/css/rs6.css" type="text/css" media="all">
    <style id="rs-plugin-settings-inline-css" type="text/css">
        #rs-demo-id {}
    </style>
    <script type="text/javascript" src="static/js/sticky-sidebar.js" id="sticky-sidebar-js"></script>
    <script type="text/javascript" src="static/js/customjs.js" id="customjs-js"></script>
    <script type="text/javascript" src="static/js/bootstrap.js" id="bootstrap-js"></script>
    <script type="text/javascript" src="static/js/navsticker.js" id="navsticker-js"></script>
    <script type="text/javascript" src="static/js/mobilesticker.js" id="mobilesticker-js"></script>
    <script type="text/javascript" src="static/js/index-5.9.3.js" id="swv-js"></script>
    <script type="text/javascript" id="contact-form-7-js-extra">
        /* <![CDATA[ */
        var wpcf7 = { "api": { "root": "https:\/\/chinapurchasingagent.com\/wp-json\/", "namespace": "contact-form-7\/v1" } };
/* ]]> */
    </script>
    <script type="text/javascript" src="static/js/index-5.9.31.js" id="contact-form-7-js"></script>
    <script type="text/javascript" src="static/js/lazy.js" id="zoom-instagram-widget-lazy-load-js"></script>
    <script type="text/javascript" src="static/js/index-2.1.15.js" id="zoom-instagram-widget-js"></script>

    <script type="text/javascript" src="static/js/wp-polyfill-inert.min.js" id="wp-polyfill-inert-js"></script>
    <script type="text/javascript" src="static/js/regenerator-runtime.min.js" id="regenerator-runtime-js"></script>
    <script type="text/javascript" src="static/js/wp-polyfill.min.js" id="wp-polyfill-js"></script>
    <script type="text/javascript" id="wpcf7-recaptcha-js-extra">
        /* <![CDATA[ */
        var wpcf7_recaptcha = { "sitekey": "6LcWtbkaAAAAAFxeVp94oOVTTDFfYBkyezWsXcdj", "actions": { "homepage": "homepage", "contactform": "contactform" } };
/* ]]> */
    </script>
    <script type="text/javascript" src="static/js/index-5.9.32.js" id="wpcf7-recaptcha-js"></script>
    <script type="text/javascript" src="static/js/js_composer_front.min.js" id="wpb_composer_front_js-js"></script>
    <script></script>
    <script id="rs-initialisation-scripts">
        var tpj = jQuery;

        var revapi5;

        if (window.RS_MODULES === undefined) window.RS_MODULES = {};
        if (RS_MODULES.modules === undefined) RS_MODULES.modules = {};
        RS_MODULES.modules["revslider51"] = {
            once: RS_MODULES.modules["revslider51"] !== undefined ? RS_MODULES.modules["revslider51"].once : undefined, init: function () {
                window.revapi5 = window.revapi5 === undefined || window.revapi5 === null || window.revapi5.length === 0 ? document.getElementById("rev_slider_5_1") : window.revapi5;
                if (window.revapi5 === null || window.revapi5 === undefined || window.revapi5.length == 0) { window.revapi5initTry = window.revapi5initTry === undefined ? 0 : window.revapi5initTry + 1; if (window.revapi5initTry < 20) requestAnimationFrame(function () { RS_MODULES.modules["revslider51"].init() }); return; }
                window.revapi5 = jQuery(window.revapi5);
                if (window.revapi5.revolution == undefined) { revslider_showDoubleJqueryError("rev_slider_5_1"); return; }
                revapi5.revolutionInit({
                    revapi: "revapi5",
                    sliderType: "hero",
                    sliderLayout: "fullwidth",
                    visibilityLevels: "1240,1024,778,480",
                    gridwidth: 1240,
                    gridheight: 600,
                    lazyType: "smart",
                    perspectiveType: "local",
                    responsiveLevels: "1240,1024,778,480",
                    overlay: {
                        type: 1,

                    },
                    progressBar: { disableProgressBar: true },
                    navigation: {
                        onHoverStop: false
                    },
                    parallax: {
                        levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50, 47, 48, 49, 50, 51, 55],
                        type: "mouse",
                        origo: "slidercenter",
                        speed: 2000
                    },
                    viewPort: {
                        global: true,
                        globalDist: "-200px",
                        enable: false,
                        visible_area: "20%"
                    },
                    fallbacks: {
                        allowHTML5AutoPlayOnAndroid: true
                    },
                });

            }
        } // End of RevInitScript

        if (window.RS_MODULES.checkMinimal !== undefined) { window.RS_MODULES.checkMinimal(); };
    </script>
</body>

</html>